*.pyc
__pycache__/
.env
db.sqlite3
/static/
/media/

# Ignorar entornos virtuales
venv/
ENV/
env/
*.egg-info/

# Ignorar paquetes instalados
**/site-packages/

# Ignorar archivos binarios de librerías
*.so
*.dll
*.dylib
